<div class="scada-interface">
  <div class="scada-header">
    <div class="header-content">
      <div class="system-info">
        <i class="bi bi-cpu"></i>
        <h3>PORT CRANE MONITORING SYSTEM</h3>
      </div>
      <div class="system-status">
        <div class="status-indicator"></div>
        <span class="status-label">System Status: Operational</span>
        <span class="engine-code">{{engineCode}}</span>
        <div class="system-time">{{ getCurrentTime() }}</div>
      </div>
    </div>
  </div>
  <div class="scada-container">
    <div class="container-fluid p-3">
   
    <div class="row g-2 mt-1">
      <div class="col-md-12">
        <div class="visualization-container">
          <div class="view-row">
            <div class="view-item">
              <div class="view-content">
               
              </div>
            </div>
         </div>
         <div class="crane-visualization">
          <div class="crane col-6 ">
            <div class="upper-rotate" [style.transform]="'scaleX(' + currentScaleX + ')'">
              <div class="checkpoint1"></div>
              <div class="checkpoint2"></div>
              <div class="checkpoint3"></div>
              <div class="checkpoint4"></div>
              <img src="tttower.svg" alt="Tower" class="tower">
              <img src="armterex1.svg" alt="Arm" class="arm"  [ngStyle]="armStyle" >
              
              <div class="rope-grabber">
                  <div class="rope" ></div>
                  <div class="grabber-container">
                    <img [src]="grabberImage" class="grabber" alt="grabber">
                  </div>
                </div>
            </div>
            <div class="checkpoint5"></div>
            <div class="checkpoint6"></div>
            <div class="checkpoint7"></div>
            <img src="baseterex.svg" alt="Base" class="base">
          </div>
          <div class="motors col-6">
            <div class="motor" *ngFor="let motor of motors">
              <img [src]="getMotorImage(motor.isOn)" 
                   [class.greenMotor]="motor.isOn" 
                   [class.redMotor]="!motor.isOn" 
                   [alt]="'Motor ' + motor.id">
              <button class="btn btn-outline-primary mt-2" 
                      (click)="toggleMotor(motor.id)">
                {{ motor.isOn ? 'Turn OFF' : 'Turn ON' }} ({{ motor.isOn ? 'ON' : 'OFF' }})
              </button>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

