
<div class="container-fluid operations-root">
    <div class="row">
        <div class=" col-xl-6 left-side-view  ">
            <div class="controls">
                <div class="scaleX-controls">
                    <label for="scaleXSlider">Scale X: </label>
                    <input 
                        type="range" 
                        id="scaleXSlider"
                        [min]="0"
                        [max]="possibleScaleX.length - 1"
                        step="1"
                        [(ngModel)]="currentScaleXIndex">
                    <span>{{ currentScaleX }} degrees</span>
                </div>
                <div class="unified-luffing-controls">
                    <label for="unifiedLuffingSlider">Unified Luffing Control: </label>
                    <input 
                        type="range" 
                        id="unifiedLuffingSlider"
                        min="0"
                        max="100" 
                        step="1"
                        [(ngModel)]="unifiedLuffing">
                    <span>{{ unifiedLuffing }}%</span>
                </div>
                
                <div class="hoisting-controls">
                    <label for="hoistingSlider">Hoisting Control: </label>
                    <input 
                        type="range" 
                        id="hoistingSlider"
                        min="0"
                        max="100" 
                        step="1"
                        [(ngModel)]="hoisting">
                    <span>{{ hoisting }}%</span>
                </div>
                <div class="current-positions">
                    <!-- <div>Arm angle: {{ armLuffingAngle.toFixed(1) }}°</div>
                    <div>Flech angle: {{ flecheLuffingAngle.toFixed(1) }}°</div>
                    <div>Flech position: {{ flecheLuffingLeft.toFixed(1) }}px</div>
                    <div>Grabber horizontal: {{ grabberLeftPos.toFixed(1) }}px</div>
                    <div>Grabber vertical offset: {{ grabberTopPos.toFixed(1) }}px</div>
                    <div>Rope height: {{ ropeHeight.toFixed(1) }}px</div>
                    <div>Hoisting: {{ hoisting }}%</div>
                    <div>ScaleX: {{ currentScaleX }}</div> -->
                </div>
               </div>
                <div class="crane">
                    <div class="kran-container">
                        <div class="upperKran" [style.transform]="'scaleX(' + currentScaleX + ')'">
                            <div class="col-xl-12 ">
                                <img class="flech" src="flech.svg" alt="flech" [ngStyle]="flecheLuffingStyle">
                            </div>
                            <div class="col-xl-12">
                                <img class="arm" src="arm.svg" alt="arm" [ngStyle]="armLuffingStyle">
                            
                        </div>
                        <div class="col-xl-12">
                            <img class="midlle" src="midlle.svg" alt="midlle">
                        </div>
                        <div class="rope-grabber" [style.top.px]="ropeGrabbertop" >
                            <div class="col-xl-12 rope" [style.height.px]="ropeHeight" [style.top.px]="ropeTopPos" [style.left.px]="ropeLeftPos"></div>
                            <div class="col-xl-12 grabber-container" [style.top.px]="grabberTop" [style.left.px]="grabberLeftPos">
                                <img [src]="grabberImage" class="grabber" alt="grabber" >
                            </div>
                        </div>
                       
                    </div>
                    <div class="lowerKran">
                        <div class="col-xl-12">
                            <img class="down" src="down.svg" alt="down">
                        </div>
                        <div class="col-xl-12 hooper-container">
                            <img class="hopper" src="hopper.svg" alt="hopper">
                        </div>
                    </div>
                </div>
                

                <div class="terminal-container">    
                        <div class="terminal"></div>
                        <div class="ocean"> </div>
                        <div class="bulker">
                            <img src="bulker_edit.svg" class="bulker-edit" alt="bulker">
                        </div>
                    </div>
                </div>   
        </div>
        <div class="right-side-view col-xl-6">
            <div class="rotation-container position-relative">
                <div class="vessel-container">
                  <img src="vessel.png" class="vessel-img" alt="Vessel View" />
                </div>
                <div class="terminal-column">
                  <div class="rails-container">
                    <img src="upperPart.svg" class="upper-img" srcset="" [style.transform]="'rotate(' + currentAngle + 'deg)'">
                    <div class="rail"></div>
                    <div class="rail"></div>
                  </div>
                  <div class="charbon">
                    
                  </div>
                  <div class="terminal-texture">
                    <!-- Content for terminal area can go here later -->
                  </div>
                </div>
                <div class="ocean-column">
                </div>
              </div>
              <div class="slider-controls">
                <label for="rotationSlider">Crane Angle: </label>
                <input 
                  type="range" 
                  id="rotationSlider"
                  [min]="0"
                  [max]="possibleAngles.length - 1"
                  step="1"
                  [(ngModel)]="currentAngleIndex">
                <span>{{ currentAngle }} degrees</span>
            </div>

        
        </div>
    </div>
  


